## Automatically indent a newly created line to the same number of
## tabs and/or spaces as the preceding line -- or as the next line
## if the preceding line is the beginning of a paragraph.
set autoindent

## Back up files to the current filename plus a tilde.
set backup

## The directory to put unique backup files in.
set backupdir "~/.nano/"


## Automatically hard-wrap the current line when it becomes overlong.
set breaklonglines

## Remember the used search/replace strings for the next session.
set historylog

## Display line numbers to the left (and any anchors in the margin).
set linenumbers

## Enable vim-style lock-files.  This is just to let a vim user know you
## are editing a file [s]he is trying to edit and vice versa.  There are
## no plans to implement vim-style undo state in these files.
set locking

## Switch on multiple file buffers (inserting a file will put it into
## a separate buffer).
set multibuffer

## Remember the cursor position in each file for the next editing session.
set positionlog

## Use this tab size instead of the default; it must be greater than 0.
set tabsize 4

## Convert each typed tab to the fitting number of spaces.
set tabstospaces

## Snip whitespace at the end of lines when justifying or hard-wrapping.
# set trimblanks

## Save files by default in Unix format (also when they were DOS or Mac).
set unix

## Paint the interface elements of nano.  These are examples; there are
## no colors by default, except for errorcolor and spotlightcolor.
set titlecolor bold,white,blue
# set promptcolor lightwhite,grey
set statuscolor white
set errorcolor bold,white,red
# set spotlightcolor black,lightyellow
set selectedcolor lightwhite,magenta
# set stripecolor ,yellow
# set scrollercolor cyan
set numbercolor white
set keycolor white,blue
set functioncolor white
